.main_info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  max-width: 1200px;

  margin: 20px auto 0 auto;

  padding: 20px 30px;

  border-radius: 15px;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}

.profile_image {
  width: 50px;
  content: url("../../components/header/assets/user.png");
}

.profile_data {
  margin-left: 20px;
  text-align: center;
}

.user_name {
  font-size: 30px;

  margin-bottom: 5px;
}

.box_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.activity_box {
  display: grid;

  width: 1200px;

  margin: 20px auto;
  padding: 30px;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);

  border-radius: 15px;
}

.box_title {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

  text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);

  text-align: center;
  margin-bottom: 30px;
}

.signout_button {
  padding: 5px 10px;
  width: 100px;

  background: none;
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.1);

  border-radius: 5px;
  border-style: hidden;

  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(236, 112, 99);

  transition: all 0.2s;
}

.signout_button:hover {
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: all 0.2s;

  color: rgb(231, 76, 60);
}
