.main_container {
  width: 1200px;

  margin: 20px auto;
  padding: 30px;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);

  border-radius: 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.main_empty {
  display: grid;
  align-items: center;

  row-gap: 20px;
}

.empty {
  text-align: center;
  margin: auto;

  font-size: 20px;
}

.title_create {
  text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}

.box_inner {
  display: flex;
  align-items: center;

  margin-top: 20px;

  gap: 20px;
}

.inner_item {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 15px;

  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(120, 185, 250, 0.2);

  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;

    grid-template-columns: repeat(2, 1fr);
  }
}
