.btn_up {
  position: fixed;

  left: 40px;
  bottom: 40px;

  cursor: pointer;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 50px;
}

.btn_up::before {
  content: "";

  width: 40px;
  height: 40px;

  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("./assets/arrow.png");
}

.btn_up_show {
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .btn_up:hover {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  }
}
