.footer {
  background-color: rgba(172, 210, 248, 0.3);
  backdrop-filter: blur(20px);

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);

  width: 200px;

  position: fixed;

  margin-bottom: 2%;
  right: 0;
  bottom: 0;
}

.footer_container {
  padding: 10px;
}

.container_sources {
  display: flex;

  align-items: center;
  grid-gap: 5px;
}

.source_github {
  display: flex;
}

.github {
  height: 40px;
}

.source_text {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(75, 97, 119);
}
