.App {
  background-color: rgba(63, 60, 60, 0.5);
  backdrop-filter: blur(15px);
  background-position: center;
  background-size: cover;

  padding: 20px;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;

    grid-template-columns: repeat(2, 1fr);
  }
}
