*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(33, 97, 140, 0.4);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  overflow-x: hidden;

  height: 100%;
}

html {
  scrollbar-width: thin;

  height: 100%;

  color-scheme: dark light;

  & [data-theme="light"] {
    color-scheme: light;
  }

  & [data-theme="dark"] {
    color-scheme: dark;
  }
}

.dismiss_btn {
  background: none;
  outline: none;
  border: none;

  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
}

.dismiss_image {
  content: url("./assets/dismiss.png");

  width: 10px;
  height: 10px;
}

.dismiss_image:hover {
  cursor: pointer;
}
