*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(33, 97, 140, 0.2);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  overflow-x: hidden;

  height: 100%;
}

html {
  scrollbar-width: thin;

  height: 100%;

  color-scheme: dark light;

  & [data-theme="light"] {
    color-scheme: light;
  }

  & [data-theme="dark"] {
    color-scheme: dark;
  }
}
