*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scrollbar-width: thin;

  color-scheme: dark light;
  &[data-theme=light] { color-scheme: light; }
  &[data-theme=dark] { color-scheme: dark; }
}
