.header {
  backdrop-filter: blur(70px);

  border-radius: 10px;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.2);

  width: 1200px;

  margin: 0 auto;

  transition: all 0.3s;
}

.header.fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;

  background: rgba(15, 58, 87, 0.63);

  width: 100%;

  transition: all 0.3s;
}

.header_container {
  padding: 5px 30px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}

.container_logo {
  display: flex;

  align-items: center;

  position: static;
}

.logo {
  height: 50px;
  margin-right: 10px;

  content: url("./assets/logo.png");
}

.logo_text {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);

  text-shadow: 10px 5px 15px rgba(0, 0, 0, 0.2);
}

.container_content {
  display: flex;

  grid-gap: 20px;

  position: static;
}

.container_tools {
  display: flex;
  grid-gap: 10px;
  align-items: center;

  outline: none;
  border: 0;
  background: transparent;

  position: static;
}

.tool_item {
  background: none;
  border: none;
}

.item_img {
  height: 30px;
}

.item_img.user {
  content: url("./assets/user.png");
}

.item_img:hover {
  cursor: pointer;
}

.cur_user {
  font-size: 20px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }

  .header_container {
    display: grid;

    justify-content: center;

    grid-gap: 10px;
  }

  .container_content {
    display: grid;

    margin: 0 auto;
    grid-gap: 5px;
  }

  .container_tools {
    margin: 0 auto;
  }
}
